html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

.profile{
    background-image: url("pic.jpg");
    
    height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}